@import "tailwindcss";

@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-pri: var(--text-pri);
  --color-text-alt: var(--text-alt);
  --color-btn-primary: var(--btn-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: var(--aqua-blue);
  --color-ink-blue: var(--ink-blue);
  --color-sunset-orange: var(--sunset-orange);
  --color-aqua-blue: var(--aqua-blue);
  --color-off-white: var(--off-white);
  --color-deep-teal: var(--deep-teal);

  /* Alternate colors */
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);

  /* Light mode (default) */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border: var(--border);

  /* Semantic colors */
  --color-primary: var(--ink-blue);
  --color-on-primary: var(--deep-teal);
  --color-secondary: var(--sunset-orange);
  --color-on-secondary: var(--on-secondary);
  --color-tertiary: var(--ink-blue);
  --color-on-tertiary: var(--off-white);

  /* Font contrasts */
  --color-text-on-secondary: var(--on-secondary);
  --color-text-on-tertiary: var(--on-tertiary);
  --color-text-on-primary: var(--on-primary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  /* Font families */
  --font-syne: var(--font-syne);
  --font-source-sans-3: var(--font-source-sans-3);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-rubik-mono-one: var(--font-rubik-mono-one);
  --font-space-grotesk: var(--font-space-grotesk);

  /* Local fonts */
  --font-clash-display: var(--font-clash-display);
  --font-satoshi: var(--font-satoshi);

  /* Functional typographic classes */
  --font-heading: var(--font-clash-display), sans-serif;
  --font-body: var(--font-satoshi), sans-serif;
  --font-section-header: var(--font-syne), sans-serif;
  --font-alt-heading: var(--font-space-grotesk), sans-serif;
  --font-alt-text: var(--font-source-sans-3), sans-serif;
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* Branding colors*/
  --ink-blue: #0d2c56;
  --sunset-orange: #ff8b2c;
  --aqua-blue: #00d7e0;
  --off-white: #faf8f4; /*  */
  --deep-teal: #06272c;

  /* Alternate colors */
  --success: #4caf50;
  --error: #e53935;
  --warning: #fb8c00;
  --info: #2196f3;

  /* Light mode (default) */
  --background: var(--off-white);
  --surface: #ffffff;
  --text-primary: var(--ink-blue);
  --text-secondary: #4a4a4a;
  --border: #dadada;

  /* Semantic colors */
  --primary: var(--ink-blue);
  --on-primary: var(--deep-teal);
  --secondary: var(--sunset-orange);
  --on-secondary: var(--surface);
  --tertiary: var(--ink-blue);
  --on-tertiary: var(--off-white);
}

.dark {
  --background: var(--deep-teal);
  --surface: var(--ink-blue);
  --text-primary: var(--off-white);
  --text-secondary: #c1c1c1;
  --border: #1f3b4d;

  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
    * {
    @apply border-border outline-ring/50;
  }
  h1 {
    @apply font-heading text-4xl md:text-xl font-normal text-text-primary;
  }
  h2 {
    @apply font-heading text-3xl md:text-4xl font-semibold text-text-primary;
  }
  h3 {
    @apply font-section-header text-2xl md:text-3xl font-medium text-text-primary;
  }
  h4 {
    @apply font-alt-heading text-xl md:text-2xl font-medium text-text-primary;
  }
  p {
    @apply font-body text-base text-text-primary;
  }

  body {
    @apply bg-background text-text-primary;
  }
  btn {
    @apply font-syne;
  }
}

@layer components {
  .title-xl {
    @apply font-heading text-5xl md:text-6xl lg:text-7xl font-bold tracking-tight text-text-primary;
  }

  .subtitle {
    @apply font-alt-heading text-lg md:text-xl font-medium text-text-secondary;
  }

  .section-title {
    @apply font-section-header text-2xl md:text-3xl font-semibold uppercase tracking-wide text-text-primary;
  }

  .body-large {
    @apply font-body text-lg leading-relaxed text-text-primary;
  }

  .caption {
    @apply font-alt-text text-sm text-text-secondary;
  }
  .btn-primary {
    @apply bg-primary text-on-primary px-4 py-2 rounded-md font-medium font-satoshi;
  }
  .btn-tertiary {
    @apply bg-tertiary text-on-tertiary px-4 py-2 rounded-md font-medium;
  }
  .btn-success {
    @apply bg-success text-white px-4 py-2 rounded-md font-medium;
  }
  .btn-error {
    @apply bg-error text-white px-4 py-2 rounded-md font-medium;
  }

  .btn-warning {
    @apply bg-warning text-white px-4 py-2 rounded-md font-medium;
  }
  .btn-info {
    @apply bg-info text-white px-4 py-2 rounded-md font-medium;
  }

  .btn-secondary {
    @apply bg-secondary  text-on-secondary px-4 py-2 rounded-md font-medium;
  }
}
.truncate-text {
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides the overflowing text */
  text-overflow: ellipsis; 
  
}
